@font-face {
    font-family: 'fuenteBioshock1';
    src: url('./assets/fonts/Andes.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'fuenteGta';
    src: url('./assets/fonts/gtamenu.otf');
    font-weight: normal;
    font-style: normal;
  }
  body {
    font-family: 'fuenteGta', sans-serif;
  }
  
*{
    margin: 0;
    padding: 0;
}
html{
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #29475e;
/* background-image: url('./assets/images/fondoGTA.jpg'); */
}

nav{
    background-color: #184E77;
    /* background-color: #47b7d1; */
    width: 100%;
    height: 2rem;
    padding: 1rem;

    color: #ffffff;
    /* color: #da7eb2; */
    font-size: larger;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.tituloNav{
    font-size: 2.4rem;
    text-shadow:1px 1px 5px #000000;
    /* text-shadow:1px 1px 5px #ffffff; */
    font-family: 'fuenteGta';
}
.menu{
    font-size: 2.4rem;

}
.container{

    color: black;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    padding: 1rem;

}
.juegos{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    gap: 1rem;
}
.juego{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 0px 2px #fcfcfc;
    height: 22rem;
    width: 18rem;
    background-color:#1b2838;
    /* background-color:#cfcfcf; */
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

.juego::-webkit-scrollbar{
    display: none;
}
.juego:hover{
    scale: 1.01;
}
.imgPlaceHolderCarta{
    flex-grow: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgCarta{

    width: 19rem;
    height: 10rem;
}
.tituloCarta {
    font-family:sans-serif;
    height: 2rem;
    color: snow;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    border-top: 1px solid rgb(26, 11, 22);
    padding-left: 10px;
    padding-top: 10px;
}
.publisher{
    color: #b4b4b4;
    padding-left: 10px;
    font-family:Verdana, sans-serif;
}
.generoJuego{
    background-color: #243b4b;
    color: #5ba8d5;
    font-family: inherit;
    padding: 5px;
    margin: 5px;
    width: max-content;
    border-radius: 4px;
    text-align: center;

}
.descripcion{
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
color: #c0c0c0;}

h2{
    color: #fcfcfc;
}
.generos,.tags{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 33vw;
    align-items: start;
    background-color: inherit;
    width: max-content;
    gap: .3rem;
}
.genero, .tag{

    display: flex;
    justify-content: start;
    align-items: start;
    gap: .5rem;
    width: max-content;
    font-family:inherit;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
    color: #ffffff;
}
.labelSort{
    color: #ffffff;
}
.generosCheckBox{
    width: 1rem;
    height: 1rem;
}
.filtros{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: max-content;
    max-width: max-content;
    flex-grow: 1;
    border: 2px solid #1b2838;
    box-shadow: 0px 0px 2px #000000;

}
